.about-us {
  width: 100%;
  min-height: 100vh;
  position: relative;
  box-sizing: border-box;
  img {
    z-index: 1;
  }
  .black-rect {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 23%;
    background-color: $black;
    -webkit-box-shadow: 15px 0px 30px 0px rgba(0, 0, 0, 0.41);
    -moz-box-shadow: 15px 0px 30px 0px rgba(0, 0, 0, 0.41);
    box-shadow: 15px 0px 30px 0px rgba(0, 0, 0, 0.41);
    z-index: 2;

    @include breakpoint(large up) {
      display: block;
    }
  }
  .white-rect {
    display: none;
    background-color: $white;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 50%;
    z-index: 3;
    -webkit-box-shadow: inset 30px 0px 34px -30px rgba(0, 0, 0, 1);
    -moz-box-shadow: inset 30px 0px 34px -30px rgba(0, 0, 0, 1);
    box-shadow: inset 30px 0px 34px -30px rgba(0, 0, 0, 1);

    @include breakpoint(large up) {
      display: block;
    }
  }

  .content-wrapper {
    padding: 8rem 2rem;
    z-index: 10;
    @include breakpoint(large up) {
      @include flex-container;
      padding: 8rem;
    }

    h3 {
      font-size: 6.4rem;
      color: $white;
      z-index: 20;
      margin: auto 0;
      letter-spacing: 0.6rem;

      @include breakpoint(large down) {
        display: none;
      }
    }

    .white-text-wrapper {
      border-radius: 1rem;
      margin: 0 0 0 auto;
      padding: 2rem;
      max-width: 100%;
      background: $white;
      box-shadow: 20px 20px 60px #cacaca, -20px -20px 60px #ffffff;
      z-index: 20;
      @include breakpoint(medium up) {
        padding: 6rem 3rem;
      }
      @include breakpoint(large up) {
        max-width: 33%;
        padding: 8rem 4rem;
        background: linear-gradient(145deg, #ffffff, #e6e6e6);
        box-shadow: 16px 16px 32px #a6a6a6, -16px -16px 32px #ffffff;
      }
      h4 {
        font-size: 3.2rem;
        margin-bottom: 3rem;
      }
      p {
        font-weight: 200;
        font-size: 2.4rem;
        line-height: 140%;
        @include breakpoint(medium up) {
          line-height: 190%;
        }
      }
    }
  }
}
