main.blog {
  .featured-blogpost {
    min-height: 25rem;
    width: 100%;
    @include background-image-center;
    @include xy-grid;
    margin-bottom: 3rem;

    .text-container {
      margin: auto auto 1rem;
      padding: 1rem;
      background: $color1;
      @include neumorphism;
      width: 50%;
      p {
        display: none;
      }
    }
  }
  .blogpost-wrapper {
    margin: 0 1rem 3rem;
    width: 100%;
    .blogpost {
      width: 70%;
      position: relative;
      min-height: 25rem;
      @include xy-grid;
      @include background-image-center;

      img {
        display: none;
      }
      .text-container {
        @include neumorphism;
        background: #01baef;
        width: auto;
        max-width: 70%;
        margin: auto -6rem 3rem auto;
        padding: 1rem 3rem;
        h3 {
          margin-bottom: 0;
          text-align: right;
        }
        p {
          display: none;
        }
      }
    }

    &.right .blogpost {
      margin-left: auto;
      margin-right: 0;
      .text-container {
        margin-left: -6rem;
        margin-right: auto;
        h3 {
          text-align: left;
        }
      }
    }
  }
}
