.hero-wrapper {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  @include xy-grid(horizontal, false);

  .centered-text-container {
    margin: auto;
    h1 {
      font-size: 10rem;
      line-height: 10rem;
      margin-bottom: 0;
      color: $white;
      font-weight: 900;
      text-align: center;
      letter-spacing: 1.2rem;
    }
    h2 {
      margin: 0;
      text-align: center;
      color: $white;
    }
  }
}
