@import "hero";
@import "about";
@import "professional";
@import "portfolio_item";

// home general
.background-container {
  @include position-center;
  background-size: 0;
  background-repeat: no-repeat;
  background-position: center;
  z-index: -1;

  @include breakpoint(large up) {
    background-size: contain;
    z-index: unset;
  }

  .backgorund-title-wrapper {
    display: none;
    position: absolute;
    z-index: 10;
    padding: 4rem;
  }

  span {
    font-weight: 700;
    font-size: 32rem;
    line-height: 32rem;
    letter-spacing: 4rem;
    color: $transparentBlack;
  }
}
