@import "./../node_modules/foundation-sites/scss/util/mixins";
@import "./../node_modules/foundation-sites/scss/foundation";
@import "mixins";
@import "variables";
@import "blog";
@import "forms";
@import "./navigation/main";
@import "./portfolio/main";
@import "./blog/main";
@import "home_page";

html,
body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

html {
  font-size: 10px;
  body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    font-size: $font-size;
    font-family: $sanSerif;
  }
}
@function headings($from: 1, $to: 6) {
  @if $from == $to {
    @return "h#{$from}";
  } @else {
    @return "h#{$from}," + headings($from + 1, $to);
  }
}
#{headings(1,6)} {
  margin-top: 0;
}
img {
  width: 100%;
  height: auto;
}

#__next > section,
main {
  max-width: 144rem;
  margin: 0 auto;
}
* {
  box-sizing: border-box;
}
.disp-none {
  display: none;
}
