// custom mixins
@mixin position-center {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
@mixin ease-in-out($time) {
  -webkit-transition: $time ease-in-out;
  -moz-transition: $time ease-in-out;
  -o-transition: $time ease-in-out;
  transition: $time ease-in-out;
}
@mixin rotate-deg($deg) {
  -webkit-transform: rotate($deg);
  -moz-transform: rotate($deg);
  -o-transform: rotate($deg);
  transform: rotate($deg);
}

@mixin neumorphism($c1: #333, $c2: #2c2c2c) {
  box-shadow: 20px 20px 60px $c1, -20px -20px 60px $c2;
  border-radius: 1rem;
}

@mixin background-image-center() {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
@mixin flex-container($direction: row) {
  display: flex;
  flex-flow: $direction nowrap;
}

$breakpoints: (
  small: 0,
  medium: 57.6rem,
  large: 76.8rem,
  xlarge: 99.2rem,
  xxlarge: 120rem,
) !default;

// All of the names in this list will be output as classes in your CSS, like small-12, medium-6, and so on.
$breakpoint-classes: (small medium large) !default;
///

// 2. Mixins
// - - - - - - - - - - - - - - -

/// Wraps a media query around the content you put inside the mixin. This mixin accepts a number of values:
///  - If a string is passed, the mixin will look for it in the $breakpoints map, and use a media query there.
///  - If a pixel value is passed, it will be converted to an em value using $rem-base.
///  - If a rem value is passed, the unit will be changed to em.
///  - If an em value is passed, the value will be used as-is.
///
/// @param {mixed} $val - Breakpoint name or px/em/rem value to process.
///
/// @output If the breakpoint is "0px and larger", outputs the content. Otherwise, outputs the content wrapped in a media query.
@mixin breakpoint($val: small) {
  // Size or keyword
  $bp: nth($val, 1);
  // Value for max-width media queries
  $bpMax: 0;
  // Direction of media query (up, down, or only)
  $dir: if(length($val) > 1, nth($val, 2), up);
  // Eventual output
  $str: "only screen";
  // Is it a named media query?
  $named: false;

  // Orientation media queries have a unique syntax
  @if $bp == "landscape" or $bp == "portrait" {
    $str: $str + " and (orientation: #{$bp})";
  } @else {
    // Try to pull a named breakpoint out of the $breakpoints map
    @if type-of($bp) == "string" {
      @if map-has-key($breakpoints, $bp) {
        @if $dir == "only" {
          $next-bp: map-next($breakpoints, $bp);
          @if $next-bp == null {
            $bpMax: null;
          } @else {
            $bpMax: $next-bp - (1/16);
          }
        }
        $bp: map-get($breakpoints, $bp);
        $named: true;
      } @else {
        $bp: 0;
      }
    }

    // Pixel and unitless values are converted to rems
    @if unit($bp) == "px" or unit($bp) == "" {
      $bp: rem-calc($bp);
    }
    // Finally, the rem value is turned into an em value
    $bp: strip-unit($bp) * 1em;

    // Skip media query creation if the input is "0 up" or "0 down"
    @if $bp > 0 or $dir == "only" {
      // And lo, a media query was born
      @if $dir == "only" {
        @if $named == true {
          $str: $str + " and (min-width: #{$bp})";
          @if $bpMax != null {
            $str: $str + " and (max-width: #{$bpMax})";
          }
        } @else {
          @debug 'ERROR: Only named media queries can have an "only" range.';
        }
      } @else if $dir == "down" {
        $max: $bp - (1/16);
        $str: $str + " and (max-width: #{$max})";
      } @else {
        $str: $str + " and (min-width: #{$bp})";
      }
    }
  }

  // Output
  @if $bp == 0em and $dir != "only" {
    @content;
  } @else {
    @media #{$str} {
      @content;
    }
  }
}

/// Prefixes selector $class with breakpoint keywords, allowing you to create a batch of breakpoint classes with one chunk of code. If you want to skip a breakpoint (like small, because mobile first and all that), add values to the $omit parameter.
///
/// @param {string} $class - Class to prefix with the breakpoint name and a hyphen.
/// @param {list} $omit - Named breakpoints to skip. No class will be added with breakpoints in this list.
@mixin each-breakpoint($class, $omit: ()) {
  // Iterate through breakpoint classes
  @each $size in $breakpoint-classes {
    // Only do something if the breakpoint is not in $omit
    @if index($omit, $size) == null {
      $val: map-get($breakpoints, $size);
      // Prefix $class with $size and a hyphen
      .#{$size + "-" + $class} {
        @include breakpoint($size) {
          @content;
        }
      }
    }
  }
}

@function strip-unit($number) {
  @if type-of($number) == "number" and not unitless($number) {
    @return $number / ($number * 0 + 1);
  }

  @return $number;
}
