.portfolio {
  position: relative;
  padding: 8rem 2rem;
  @include breakpoint(large) {
    padding: 4.5rem 9rem;
  }

  .portfolio-item {
    @include breakpoint(large) {
      @include xy-grid(horizontal, false);
      padding: 3rem 0;
    }

    .black-rect-effect {
      position: absolute;
      top: 0;
      bottom: 0;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      width: 34%;
      left: 39%;
      z-index: 5;
      background: $black;
    }

    .project-trivia {
      z-index: 11;
      margin: auto 0;
      @include breakpoint(large) {
        width: 37%;
      }

      .technology-images {
        width: 100%;
        @include breakpoint(large) {
          @include xy-grid;
          justify-content: space-between;
        }

        .image-wrapper {
          width: 66.66%;
          width: calc(2 * 100% / 3);
          position: relative;
          border-radius: 1rem;
          overflow: hidden;
          box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.25);
          z-index: 11;
          @include breakpoint(medium) {
            width: 13rem;
          }

          &::before {
            content: "";
            @include position-center;
            background: rgba(0, 0, 0, 0.5);
          }

          &:nth-child(2)::before {
            background: rgba(0, 0, 0, 0.65);
          }
          &:nth-child(3)::before {
            background: rgba(0, 0, 0, 0.8);
          }
        }
      }

      .text {
        margin-top: 4.5rem;
        h4 {
          font-size: 3.2rem;
          margin-bottom: 3rem;
        }
        p {
          font-weight: 200;
          font-size: 2.4rem;
          line-height: 190%;
        }
      }
    }

    .project-decoration {
      width: 100%;
      z-index: 11;
      margin: 10rem 0;
      @include breakpoint(medium) {
        width: 63%;
        margin: auto 0;
        padding: 4.5rem 0 0 1rem;
      }
      .large-image {
        width: 80%;
        margin: 0 0 0 auto;
        z-index: 20;
        position: relative;
        img {
          border-radius: 1rem;
          box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.25);
          z-index: 22;
          position: relative;
        }
        &:after,
        &:before {
          content: "";
          @include position-center;
          background: $white;
          margin: 3rem 3rem -3rem -3rem;
          z-index: 21;
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          border-radius: 1rem;
        }
        &:after {
          content: "";
          margin: -2rem -2rem 2rem 2rem;
          z-index: 20;
        }
      }

      .small-image {
        z-index: 30;
        width: 30%;
        position: relative;
        margin-top: -3rem;

        img {
          box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.25);
          border-radius: 1rem;
        }
      }
    }
  }

  .portfolio-item {
    &:nth-child(2n + 1) .technology-images .image-wrapper {
      @include breakpoint(medium down) {
        &:nth-child(2) {
          margin: 10rem 0 16rem auto;
        }
        &:nth-child(3) {
          margin: 0 0 0 20%;
        }
      }
    }

    &:nth-child(2n + 2) .technology-images .image-wrapper {
      @include breakpoint(medium down) {
        &:nth-child(1) {
          margin: 0 auto 0 calc(100% / 3);
        }
        &:nth-child(2) {
          margin: 16rem 30% 10rem auto;
        }

        &:nth-child(3) {
          margin: 0 0 0 auto;
        }
      }
    }
  }
}
