.professional {
  width: 100%;
  min-height: 100vh;
  position: relative;

  .black-rect {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    background-color: $black;
    -webkit-box-shadow: 15px 0px 30px 0px rgba(0, 0, 0, 0.41);
    -moz-box-shadow: 15px 0px 30px 0px rgba(0, 0, 0, 0.41);
    box-shadow: 15px 0px 30px 0px rgba(0, 0, 0, 0.41);
    z-index: 2;

    @include breakpoint(large up) {
      width: 61%;
    }
  }

  .content-wrapper {
    padding: 8rem 2rem;
    @include breakpoint(large up) {
      @include flex-container;
      padding: 8rem;
    }

    .white-text-wrapper {
      border-radius: 1rem;
      margin: auto auto 16rem auto;
      padding: 4rem 2rem;
      max-width: 32rem;
      background: $black;
      box-shadow: 20px 20px 60px #1f1f1f, -20px -20px 60px #2b2b2b;
      color: $white;
      z-index: 20;

      @include breakpoint(medium up) {
        padding: 6rem 3rem;
        margin: auto 0 auto auto;
      }

      @include breakpoint(large up) {
        background: linear-gradient(145deg, #ffffff, #e6e6e6);
        box-shadow: 16px 16px 32px #a6a6a6, -16px -16px 32px #ffffff;
        color: $black;
        padding: 8rem 4rem;
      }

      p {
        font-weight: normal;
        font-size: 2.4rem;
        line-height: 190%;
        text-transform: uppercase;
        letter-spacing: 0.5rem;

        @include breakpoint(large up) {
          font-size: 2.4rem;
          line-height: 190%;
        }
      }
    }

    .image-decor {
      position: absolute;
      top: 17rem;
      z-index: -1;

      @include breakpoint(large up) {
        max-width: 30rem;
        z-index: 18;
        margin: auto 0;
        top: unset;
        position: relative;
      }

      > img {
        margin: 0 0 0 -4rem;
        border-radius: 1rem;
        box-shadow: 15px 15px 30px rgba(0, 0, 0, 0.2),
          -15px -15px 30px rgba(0, 0, 0, 0.2);
        &:first-of-type {
          margin: 0 -4rem 6rem 0;

          @include breakpoint(large up) {
            margin: 0 0 3rem -4rem;
          }
        }
      }
    }
    .red-text-wrapper {
      z-index: 21;
      background-color: $red;
      max-width: 47rem;
      border-radius: 1rem;
      padding: 2rem;
      box-shadow: 15px 15px 30px rgba(0, 0, 0, 0.2),
        -15px -15px 30px rgba(0, 0, 0, 0.2);
      margin: auto;

      @include breakpoint(medium up) {
        padding: 3rem;
      }
      @include breakpoint(large up) {
        margin: auto auto auto 0;
      }

      h3 {
        font-size: 3.2rem;
        color: $black;
        z-index: 20;
        margin: auto 0;
        letter-spacing: 0.6rem;
        margin-bottom: 3rem;

        @include breakpoint(large up) {
          font-size: 6.4rem;
        }
      }
      p {
        margin: 0;
        line-height: 190%;
        font-weight: 300;
      }
    }
  }
}
