// fonts ===============================================================
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,100&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap");
// navigation ==========================================================
$color: #b58ecc;
$color-bg: #5de6de;
$color-grey: #252729;
$color-dark: darken($color, 20%);
$color-lite: lighten($color, 10%);

$color1: rgba(106, 213, 203, 1);
$color2: rgba(37, 40, 61, 1);
$color3: rgba(1, 186, 239, 1);
$color4: rgba(27, 23, 37, 1);
$color5: rgba(83, 75, 98, 1);

$orangeLight: #f8ca9d;
$orangeMiddle: #fb8e7e;
$orangeStrong: #fa6e4f;
$yellow: #f2cf59;
$greenLight: #c5d7c0;
$greenDark: #8ec9bb;

$white: #eee;
$black: #252525;
$transparentBlack: rgba(0, 0, 0, 0.2);
$red: #da8f89;

$blueDark: #252842;

$maxWidth: 120rem;

// breakpoints
$breakpoints: (
  small: 0,
  medium: 576px,
  large: 768px,
  xlarge: 992px,
  xxlarge: 1200px,
);

//fonts
$font-size: 1.6rem;
$sanSerif: "Roboto", "Helvetica", "Arial", sans-serif;
$sanSerifText: "Montserrat", sans-serif;
$monoSpace: "Major Mono Display", monospace;
