.fire-wrapper {
  margin: 0;
  padding: 0;
  height: 30rem;
  width: calc(33.333% - 3rem);
  overflow: hidden;
  text-align: center;

  svg {
    z-index: 10;
    height: 100%;

    .stick {
      transform: translatex(8rem) translatey(29rem);
    }
  }
  .flame {
    mix-blend-mode: screen;
  }
}
