footer {
  width: 100%;
  height: 30rem;
  margin: 0;
  padding: 0;
  background: $black;
  background: linear-gradient(to bottom, $black, #222);
  @include xy-grid;
  justify-content: space-between;

  .footer-links {
    width: calc(33.333% - 3rem);
    padding: 4.5rem 9rem;
    @include xy-grid(vertical, false);
    justify-content: space-between;

    > div a {
      color: $white;
      text-decoration: none;
      font-weight: 200;
      letter-spacing: 0.2rem;
      transition: ease-in-out opacity 0.2s;
      &:hover {
        opacity: 0.7;
      }
    }

    &:first-child {
      align-items: flex-end;
    }
  }
}
