ul {
  list-style: none;
  margin: 0;
  padding: 0;
  li {
    cursor: pointer;
    padding: 6px 20px;
    font-size: 48px;
  }
}

.menu-button {
  width: 60px;
  height: 56px;
  position: fixed;
  margin: 20px 0 0 20px;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 10000;
  @include rotate-deg(0deg);
  @include ease-in-out(0.5s);
  cursor: pointer;
  border-radius: 10px;

  span {
    display: block;
    position: absolute;
    height: 4px;
    width: 26px;
    margin-left: 17px;
    background: $color-grey;
    opacity: 1;
    left: 0;
    @include rotate-deg(0deg);
    @include ease-in-out(0.25s);
    &:nth-child(1) {
      top: 18px;
    }
    &:nth-child(2),
    &:nth-child(3) {
      top: 26px;
    }
    &:nth-child(4) {
      top: 34px;
    }
  }
  &.open {
    background-color: transparent;
    span {
      &:nth-child(1) {
        top: 18px;
        width: 0%;
        left: 50%;
      }
      &:nth-child(2) {
        @include rotate-deg(45deg);
      }

      &:nth-child(3) {
        @include rotate-deg(-45deg);
      }

      &:nth-child(4) {
        top: 18px;
        width: 0%;
        left: 50%;
      }
    }
  }
}

nav.main-navigation {
  z-index: 1;
  position: fixed;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  overflow: hidden;
  &:before {
    content: "";
    @include position-center;
    background-color: #5de6de;
    background-image: linear-gradient(315deg, #5de6de 0%, #b58ecc 74%);
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    border-radius: 100%;
    transform: scale(0.04), translateY(9999px);
    overflow: hidden;
  }
  &.open {
    top: 0;
    z-index: 9999;
    &:before {
      animation: menu-animation 0.8s ease-out forwards;
    }

    ul li,
    ul li a {
      opacity: 1;
      transform: translate3d(0, 0, 0);
      transition: transform 0.2s ease-out, opacity 0.2s ease-out;
      @for $i from 1 to 5 {
        &:nth-child(#{$i}) {
          transition-delay: $i * 0.1s + 0.65s;
        }
      }
    }
  }
}
.flex-container {
  @include xy-grid;
}

ul.menu {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  backface-visibility: hidden;
  perspective: 1000;
  color: $color-grey;
  font-family: $sanSerif;

  li {
    text-align: center;
  }
  a {
    opacity: 0;
    text-align: center;
    transform: translate3d(0, 36px, 0);
    text-decoration: none;
    color: inherit;
    &:before {
      content: "";
      @include position-center;
      left: auto;
      background-color: rgba(255, 255, 255, 0.5);
      height: 100%;
      width: 0;
      overflow: hidden;
      transition: width 0.14s ease-out;
    }
    &:after {
      opacity: 0;
      content: attr(data-text);
      @include position-center;
      color: $color-dark;
      overflow: hidden;
      transform: translate(-24px, 6px);
      transition: transform 0.1s ease-out, opacity 0.1s ease-out;
    }
    &:hover {
      color: transparent;
      &:before {
        left: 0;
        right: auto;
        width: 100%;
      }
      &:after {
        opacity: 1;
        padding: 0 20px;
        transform: translate(0px, 6px);
        transition: transform 0.2s 0.14s ease-out, opacity 0.2s 0.14s ease-out;
      }
    }
  }
}

@keyframes menu-animation {
  0% {
    opacity: 0;
    transform: scale(0.04) translateY(300%);
  }
  40% {
    transform: scale(0.04) translateY(0);
    transition: ease-out;
  }
  40% {
    transform: scale(0.04) translateY(0);
  }
  60% {
    opacity: 1;
    transform: scale(0.02) translateY(0px);
  }
  61% {
    transform: scale(0.04);
  }
  99.9% {
    height: 0;
    padding-bottom: 100%;
    border-radius: 100%;
  }
  100% {
    transform: scale(2);
    height: 100%;
    padding-bottom: 0;
    border-radius: 0;
  }
}
