section.portfolio-item {
  min-height: 100vh;
  padding: 9rem 3rem;

  .neumorphism {
    border-radius: 6rem;
    background: $white;
    box-shadow: 20px 20px 60px #cacaca, -20px -20px 60px #ffffff;
    overflow: hidden;
    position: relative;
  }
}
