.country-wrapper {
  .back-container {
    margin: 2rem 0 6rem;
    a {
      padding: 1rem 2rem;
      color: $white;
      background-color: $darkModeElements;
      text-decoration: none;
      @include boxShadow;

      &:hover {
        background-color: rgba($color: $darkModeElements, $alpha: 0.8);
      }
    }
    &.light a {
      background: $white;
      color: $lightModeText;
    }
  }

  .country-container {
    @include flex;
    img {
      width: 100%;
      @media only screen and (min-width: $tablet) {
        width: calc(50% - 4rem);
        margin: 0 auto 6rem 0;
      }
    }

    .country-data {
      @include flex;
      margin-bottom: 3rem;

      @media only screen and (min-width: $tablet) {
        padding-right: 4rem;
        width: calc(50%);
      }

      h3,
      p,
      span {
        color: $white;
      }
      h3 {
        width: 100%;
      }

      .country-detail {
        margin-bottom: 3rem;
        width: 100%;

        @media only screen and (min-width: $mobile) {
          padding-right: 4rem;
          width: calc(50%);
        }
      }

      .border-countries-container {
        .title {
          margin-bottom: 2rem;
        }
        .border-countries span {
          padding: 1rem 2rem;
          color: $white;
          background-color: $darkModeElements;
          text-decoration: none;
          margin: 0 1.5rem 1.5rem 0;
          display: block;
          float: left;
          @include boxShadow;
        }
      }
    }

    &.light {
      h3,
      p {
        color: $lightModeText;
      }
      img {
        @include boxShadow;
      }
      .border-countries-container .border-countries span {
        background: $white;
        color: $lightModeText;
      }
    }
  }
}
