@import "vars";
@import "nav";
@import "home";
@import "loading_animation";
@import "list";

.neumorphism main {
  background: $darkModeBg;
  padding: 2rem;
  &.light {
    background: $lightModeBg;
  }
}
