.filter-container {
  margin-top: 3rem;
  width: 100%;
  @media (min-width: $tablet) {
    margin: auto 0 auto auto;
    width: auto;
  }
  select {
    color: $white;
    border-radius: 0.6rem;
    padding: 2rem;
    border: none;
    box-sizing: border-box;
    @include boxShadow;
    background: $darkModeElements;
    outline: none;
    width: 100%;
    @media (min-width: $tablet) {
      width: auto;
      height: 5.3rem;
    }
  }
}
main.light .filter-container select {
  background: $white;
  @include boxShadow;
  color: $lightModeText;
}
