.list-wrapper {
  margin-top: 3rem;
  @include flex;

  .list-item {
    margin: 0 2rem 3rem;
    background: $darkModeElements;
    border-radius: 0.6rem;
    overflow: hidden;
    width: calc(100% - 4rem);
    transition: width ease-in 0.3s;
    transition: transform ease-in 0.1s;
    text-decoration: none;
    &:hover {
      transform: scale(1.05);
    }

    @media only screen and (min-width: $mobile) {
      width: calc(50% - 4rem);
    }

    @media only screen and (min-width: $tablet) {
      width: calc(33.333% - 4rem);
    }

    @media only screen and (min-width: $desktop) {
      width: calc(25% - 4rem);
    }

    img {
      width: 100%;
      height: auto;
    }
    .item-text {
      padding: 2rem;
      h3 {
        font-size: $font-size;
        color: $white;
        margin: 0 0 2rem 0;
      }

      p {
        margin-bottom: 0.5rem;
        font-size: 1.4rem;
        color: $white;
      }
    }
  }
}

main.light .list-wrapper .list-item {
  background: $white;
  @include boxShadow;
  h3,
  p {
    color: $lightModeText;
  }
}
