nav {
  background: $darkModeElements;
  color: $white;
  position: relative;
  @include boxShadow;
  @include flex;
  padding: 0 2rem;

  h1 {
    color: $white;
    font-size: $font-size;
    margin: 2rem auto 2rem 0;
  }

  .mode-selector {
    color: $white;
    margin: 2rem 0 2rem auto;
    outline: none;
    background: transparent;
    border: none;
    cursor: pointer;
  }

  &.light {
    background: $white;
    .mode-selector,
    h1 {
      color: $lightModeText;
    }
  }
}
