.search-container {
  @media (min-width: $tablet) {
    margin: auto auto auto 0;
  }
  input {
    width: 100%;
    color: $white;
    border-radius: 0.6rem;
    background: transparent;
    padding: 2rem;
    border: none;
    box-sizing: border-box;
    @include boxShadow;
    background: $darkModeElements;
    outline: none;
    @media (min-width: $tablet) {
      width: auto;
    }
    &::placeholder {
      color: $white;
    }
  }
}

main.light .search-filter input {
  background: $white;
  color: $lightModeText;
  @include boxShadow;

  &::placeholder {
    color: $lightModeText;
  }
}
