$darkModeElements: hsl(209, 23%, 22%);
$darkModeBg: hsl(207, 26%, 17%);
$lightModeText: hsl(200, 15%, 8%);
$lightModeInput: hsl(0, 0%, 52%);
$lightModeBg: hsl(0, 0%, 98%);
$white: hsl(0, 0%, 100%);

$font-size: 1.6rem;
$font-family: "Nunito Sans", sans-serif;

@mixin flex {
  display: flex;
  flex-flow: row wrap;
}

@mixin boxShadow {
  -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.2);
}

$mobile: 480px;
$tablet: 768px;
$desktop: 1024px;
