.blog-listing {
  max-width: $maxWidth;
  width: 85%;
  margin: 0 auto;
  padding: 0 2rem;

  main {
    .spacer {
      width: 100%;
      margin: 30px;
    }

    //TODO: only larger
    // border-radius: 5rem;
    // transition: 0.2s box-shadow ease-in, 0.2s transform ease-in;
    // overflow: auto;
    // &:hover {
    //   box-shadow: 20px 20px 60px #d9d9d9, -20px -20px 60px #ffffff;
    //   transform: scale(1.02);
    // }

    article {
      @include xy-grid;
      margin-bottom: 10rem;
      a {
        display: block;
        color: $black;
        text-decoration: none;
      }

      .image-container {
        order: 1;
        position: relative;
        overflow: hidden;
        @include breakpoint(xlarge) {
          order: unset;
          width: 65%;
          padding-left: 2rem;
          margin-right: 0;
          margin-left: auto;
        }
      }
      .text-container {
        order: 2;
        padding: 2rem 0;
        z-index: 10;
        width: 100%;
        @include breakpoint(xlarge) {
          order: unset;
          margin: auto 0;
          width: auto;
        }
        .parallax-inner {
          background-color: #ffffff;
        }
        h2 {
          font-size: 4.1rem;
          font-weight: 400;
          margin-top: 2rem;
        }
        .date {
          display: inline;
          padding-right: 3rem;
          letter-spacing: 0.2rem;
          opacity: 0.6;
        }
        .category {
          display: inline;
          opacity: 0.6;
        }
      }

      @include breakpoint(xlarge) {
        flex-wrap: nowrap;
        &.reverse .image-container {
          padding-left: 0;
          padding-right: 2rem;
          margin-left: 0;
          margin-right: auto;
        }

        a {
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}
