main.blog-page {
  .hero-wrapper {
    .centered-text-container {
      padding-left: 1rem;
      padding-right: 1rem;
      max-width: $maxWidth;

      h1 {
        font-size: 5rem;
        line-height: 5.3rem;
        letter-spacing: normal;
        margin-bottom: 1rem;
        font-weight: 300;
        @include breakpoint(large) {
          font-size: 10rem;
          line-height: 10rem;
          margin-bottom: 3rem;
        }
      }
      .sub-title {
        opacity: 0;
        @include xy-grid();
        & > div {
          width: 50%;
          color: $white;
          &.category {
            text-align: right;
          }
        }
        &.animate {
          transition: opacity 0.3s ease-in;
          opacity: 1;
        }
      }
    }
  }
  .body {
    padding-left: 1rem;
    max-width: $maxWidth * 2/3;
    font-weight: 200;
    font-size: 2.4rem;
    line-height: 190%;
    margin: 6rem auto;
    opacity: 0;

    &.animate {
      transition: opacity 0.3s ease-in 0.3s;
      opacity: 1;
    }
  }
  .next-post {
    max-width: $maxWidth * 3/4;
    margin: 0 auto;
    a {
      text-decoration: none;
    }
    .full-width-image {
      @include xy-grid;
      padding: 0 1rem;
      background-repeat: no-repeat;
      background-size: contain;
      height: 50vh;
      background-size: cover;
      background-position: center;

      h3 {
        margin: auto;
        color: $white;
        font-size: 3rem;
        line-height: 3.3rem;
        letter-spacing: normal;
        font-weight: 300;
        font-style: italic;
        &:hover {
          background-color: rgba($black, 0.2);
        }
      }
    }

    &.clicked {
      transition: max-width 0.4s cubic-bezier(0.55, 0.06, 0.68, 0.19),
        transform 0.4s cubic-bezier(0.55, 0.06, 0.68, 0.19);
      max-width: 100%;
      transform: translateY(-50%);
      .full-width-image {
        height: 100vh;
        h3 {
          transition: all 0.4s cubic-bezier(0.55, 0.06, 0.68, 0.19);
          font-size: 5rem;
          line-height: 5.3rem;
          font-style: normal;
          font-weight: 300;
          padding-bottom: 3.9rem;

          &:hover {
            background-color: transparent;
          }
          @include breakpoint(large) {
            font-size: 10rem;
            line-height: 10rem;
            padding-bottom: 4.9rem;
          }
        }
      }
    }
  }
}
